@import url(_colors.scss);

@mixin size($margin, $padding,$float){
    margin: $margin;
    padding: $padding;
    float: $float;
    height: auto;
}

@mixin footer(){
    padding: 20px;
    text-align: center;
    background: $MyBackgroundColor;
    color: $MyFootercolor;
    clear: both;
}