//text//
$MyFontText:'Times New Roman', Times, serif;
$MyTextSize: 2.4rem;
$MyHeaderSize: 2.1rem;
$MyHeaderbSize: 3 rem;
$MyHeadersSize: 1.8 rem;
$MyParagraphSize: 1.6rem;

//media//
$MyMedia: (max-width:700px);

//look//
$MyDisplay: flex;
$MyAlignItems: center;