//text//
$MyFontText:'Times New Roman', Times, serif;
$MyTextSize: 2.4rem;
$MyHeaderSize: 2.1rem;
$MyHeaderbSize: 3rem;
$MyHeadersSize: 1.8rem;
$MyParagraphSize: 1.6rem;

//look//
$MyDisplay: flex;
$MyAlignItems: center;