@charset 'utf-8';
@import "colors.scss";
@import "text.scss";
@import "mixin.scss";

body{
    font-family:$MyFontText;
    background: {
        image: $MyBackgroundImg;
        repeat: no-repeat;
        attachment: fixed;
        size: cover;
    }
}

header{    
    font-size: $MyHeaderSize;
    background-color: $MyBackgroundColor;
    color: $MyTextbColor;
}

h1, h2{
    font-size: $MyHeadersSize;
}

p{
    font-size: $MyParagraphSize;
}

img{
    width: 60%;
    @include size(5px,5px,left);
}

@media (max-width=700px){
    img{
        width: 95%;
        @include size(5px, 5px, none);
    }
}
   
footer { /* Stopka */
    @include footer();
}