@charset 'utf-8';
@import "colors.scss";
@import "text.scss";
@import "mixin.scss";


body{
    font-family: $MyFontText;
    background: {
        image: $MyBackgroundImg;
        repeat: no-repeat;
        attachment: fixed;
        size: cover;
    }
}

header{
    font-size: $MyTextSize;
    color: $MyFootercolor;
    background-color: $MyBackgroundColor;
}

h1{
    font-size: $MyHeadersSize;
}
h2{
    font-size: $MyHeadersSize;
}
h3{
    font-size: $MyHeadersSize;
}
h4{
    font-size: $MyHeadersSize;
}

p{
    font-size: $MyParagraphSize;
}

.img{
    @include size(3px, 3px, left);
    width: 10rem;
}
.img1{
    @include size(3px,3px,right);
    width: 10rem;
}

footer{
    @include footer();
}