@charset 'utf-8';
@import "colors.scss";
@import "text.scss";
@import "mixin.scss";

body{
    font-family: $MyFontText;
    background: {
        image: $MyBackgroundImg;
        repeat: no-repeat;
        attachment: fixed;
        size: cover;
    }
}

header{
    font-size: $MyHeaderSize;
    background-color: $MyBackgroundColor;
    color: $MyTextbColor;
}

.img{
    @include size(5px, 5px, left);
    width:25%;
    height: 30%;
}

.img1{
    @include size(5px,5px,right);
    width:15%;
    height: 30%;
}

section{
    flex-direction: row;
    display: $MyDisplay;
    gap: 10px;
    p{
        font-size: $MyHeadersSize;
    }
    @media (max-width=700px){
        img, img1{
            width: 95%;
            @include size(5px, 5px,none);
        }
    }
}

nav{
        background-color:$MyBackgroundColor;
        font-size: $MyParagraphSize;
        min-height: 60px;
        display: $MyDisplay;
        align-items: $MyAlignItems;
        padding: 0.1rem;

        p{
            margin-right: 2vw;
            color:$MyTextColor;
	        text-decoration:double;
        }
}

footer{
    @include footer();
}
