@charset 'utf-8';
@import "colors.scss";
@import "text.scss";
@import "mixin.scss";


body{
    font-family: $MyFontText;
    background: {
    image: $MyBackgroundImg;
    repeat: no-repeat;
    attachment: fixed;
    size: cover;
    }
}

header{
    font-size: $MyHeaderSize;
    background-color: $MyBackgroundColor;
    color: $MyTextbColor;
}

section{
    h1{
        font-size: $MyHeadersSize;
    }
    img{
        width: 50rem;
        @include size(5px, 5px,left);
    }
    p{
        font-size: $MyParagraphSize;
    }
}

footer { /* Stopka */
    @include footer();
}