@charset 'utf-8';
@import "colors.scss";
@import "text.scss";
@import "mixin.scss";

body{
    font-family: $MyFontText;
    background: {
        image: $MyBackgroundImg;
        repeat: no-repeat;
        attachment: fixed;
        size: cover;
    }
}

header{
    font-size: $MyHeaderSize;
    background-color: $MyBackgroundColor;
    color: $MyTextbColor;
}


nav{
    background-color: $MyBackgroundColor;
    font-size: $MyParagraphSize;
    display: $MyDisplay;
    align-items: $MyAlignItems;
    padding: 1 rem;
    p{
        margin-right: 1.2vw;
        color: $MyMenuColor;
        text-decoration: double;
    }
    
}

main{
    .img{
        width: 25rem;
        @include size(5px, 5px,left);
    }
    .img1{
        @include size(5px,5px,right);
        width: 20rem;
        
    }
    p{
        font-size: $MyHeaderSize;
    }
}

footer{
    @include footer();
}