@charset 'utf-8';
@import "colors.scss";
@import "text.scss";
@import "mixin.scss";

body{
    font-family: $MyFontText;
    background: {
        image: $MyBackgroundImg;
        repeat: no-repeat;
        attachment: fixed;
        size: cover;
    }
    p{
        font-size: $MyHeaderSize;
    }
}

header{
    font-size: $MyHeaderbSize;
    color: $MyTextbColor;
    background-color: $MyBackgroundColor;
}

section{
    img{
        @include size(5px, 5px, left);
        width: 30rem;;
    }
}

nav{
    img{
        @include size ( 5px, 5px, right);
        width: 28rem;
    }
}

footer{
    @include footer();
}